main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 43.5rem;
    height: 27.8rem;
}

.mainDiv {
    width: 74rem;
    height: 35.5rem;
}

.mainDiv div {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 6.2rem;
    line-height: 7rem;
    text-align: center;

    color: #000000;

    padding-top: 7.2rem;
    padding-bottom: 3.2rem;
}

.laranjaText {
    color: #FF9900;
}

.grayText {
    color: #7D7987;
}

p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.5rem;

    text-align: center;

    color: #7D7987;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 15rem;
}

footer div {
    display: flex;
    gap: 5rem;


    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.5rem;
    text-decoration: underline;
    text-align: center;
}